/* PagesProduction.css */

.production-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 90px 0px;
}

.production-section {
  width: 80%;
  margin-bottom: 20px;
}

.production-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.production-header {
  color: #41b3e6;
  font-size: 30px;
  padding-bottom: 15px;
}

.first-word-production {
  color: black;
}

.second-word-production {
  color: #41b3e6;
}

.production-image {
  width: 800px;
  height: 400px;
}

.production-description p {
  background-color: #ffffff;
  padding: 20px;
  text-align: justify;
  border-radius: 10px;
  width: 800px;
  height: 400px;
  margin-top: 10px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
