.Question-backgorund {
  width: 50%;
  height: 1300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 5% 1% 1% 25%;
}

.Question-box {
  margin: 0 40px;
  max-width: 700px;
  display: flex;

  flex-direction: column;
  gap: 20px;
}

.Question-box h1 {
  color: #000000e1;
  padding-left: 24%;
}

.Question-box .tab {
  position: relative;
  background-color: #7090b8;
  padding: 0 20px 20px;

  box-shadow: 0 15px 25px
    rgba(
      rgb(255, 255, 255),
      rgb(55, rgb(37, 37, 43) 55),
      rgb(71, 71, 97),
      alpha
    );
}

.Question-box .tab > input {
  appearance: none;
}

.Question-box .tab > label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Question-box .tab label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgb(122, 122, 122);
  transition: transform 1s;
}

.Question-box .tab:hover > label::after {
  color: #3b0681;
}

.Question-box .tab input:checked ~ label::after {
  transform: rotate(135deg);
}

.Question-box .tab label > h2 {
  width: 40px;
  height: 40px;
  background: #006d21;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
  font-size: 1.25em;

  margin-right: 13px;
}

/* .Question-box .tab input:checked ~ label h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding: 20px;
} */
.Question-box .tab label h3 {
  position: relative;
  font-weight: 600;
  color: #000000;
  z-index: 1;
}

.Question-box .tab .content {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.Question-box .tab input:checked ~ .content {
  max-height: 100vh;
}

.Question-box .tab .content p {
  position: relative;
  padding: 17px 30px;
  color: rgba(51, 51, 51, 0.938);
  z-index: 2;
}
