.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 750px; /* Pozostawiamy na środku poziomo */
  transform: translate(-60%, -50%); /* Przesuwamy lekko w lewo */
  text-align: left;
  z-index: 1;
}

.text-box {
  transition: transform 0.3s ease; /* Dodaj animację dla płynnego przejścia */
}

.text-box:hover {
  transform: scale(1.03); /* Powiększ element o 3% */
}

.text-box {
  background-color: rgba(0, 0, 0, 0.7); /* Przezroczysta, ciemnoszara tło */
  padding: 3rem; /* Zwiększenie odstępów wewnątrz ramki */
  border-radius: 20px; /* Zwiększenie zaokrąglenia ramki */
}

.text-box {
  position: relative;
  font-size: 24px;
  overflow: hidden; /* Ukryj nadmiarowe teksty */
}

.text-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(128, 128, 128, 0) 0%,
    rgba(233, 233, 233, 0.397) 100%
  ); /* Gradient czerwony od przezroczystego do pełnego koloru */
  animation: highlight 8s linear infinite; /* Animacja */
}

@keyframes highlight {
  0% {
    left: -100%; /* Przesunięcie gradientu w lewo poza obszar tekstu */
  }
  50% {
    left: 100%; /* Przesunięcie gradientu w prawo poza obszar tekstu */
  }
  100% {
    left: 100%; /* Powrót gradientu do początkowej pozycji */
  }
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Wysokość gradientu */
  background: linear-gradient(
    to bottom,
    rgba(143, 143, 143, 0) 10%,
    /* Zaczyna się przezroczystym u dołu */ rgb(94, 94, 94) 100%
      /* Kończy się czarnym kolorem na górze */
  );
}
.text-box h1,
.text-box h3,
.text-box p {
  color: #fff;
  margin: 0;
}

.title {
  font-size: 120px; /* Zwiększenie rozmiaru tytułu */
}

.subtitle {
  font-size: 50px; /* Zwiększenie rozmiaru podtytułu */
}

.description {
  font-size: 30px; /* Zwiększenie rozmiaru opisu */
}
