/* Twój kod */
.slider-container {
  padding: 70px 0px 70px 0px;
  position: relative;
  background-color: #d3d3d34b; /* Tło szare */
}

.slider-wrapper {
  position: relative;
}

.slick-slide {
  position: relative;
}

.slick-slide img {
  max-width: 100%;
  width: auto;
  max-height: 400px;
  margin: auto;
  display: block;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
  background: rgb(255, 0, 0); /* Kolor tła domyślny */
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000; /* Kolor strzałek */
  transition: background-color 0.3s; /* Dodajemy efekt przejścia */
}

.slick-prev:hover,
.slick-next:hover {
  background: #3b02d8; /* Kolor tła po najechaniu myszką */
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  line-height: 1;
}

.slick-prev:before {
  content: "❮";
}

.slick-next:before {
  content: "❯";
}

.slick-dots {
  position: absolute;
  bottom: 10px; /* Obniżamy przyciski niżej */
  width: 100%;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 8px; /* Zwiększamy marginesy */
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px; /* Zwiększamy szerokość kwadratów */
  height: 20px; /* Zwiększamy wysokość kwadratów */
  border: none;
  background-color: transparent;
  opacity: 0.75;
  cursor: pointer;
  outline: none;
}

.slick-dots li button::before {
  content: "";
  display: block;
  width: 100%; /* Dostosowujemy szerokość kwadratów */
  height: 100%; /* Dostosowujemy wysokość kwadratów */
  background-color: #ff0000;
  border-radius: 2px;
  margin-top: 50px;
}

.slick-dots li.slick-active button::before {
  background-color: #ff0000;
}
