.slider-box {
  min-height: 40vh;
  display: grid;
  place-items: center;
  width: 100%;
}

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(350px * 7);
  animation: scrolling 10s linear infinite; /* Dostosowany czas animacji */
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
  /* Przejście do pierwszego slajdu po osiągnięciu ostatniego zduplikowanego */
  100.01% {
    transform: translateX(0);
  }
}

.slide {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.slide > .slider-img {
  width: 90%;
  transition: transform 1s; /* Dostosowany czas przejścia w sekundach */
}

.slide > .slider-img:hover {
  transform: scale(1.1); /* Powiększenie obrazka po najechaniu kursorem */
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(250, 250, 250, 250) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}
