.slider-container {
  padding: 50px 0px 100px 0px;
}

.slider-wrapper {
  position: relative;
}

.slick-slide {
  position: relative;
}

.slick-slide img {
  max-width: 400px;
  height: auto;
  margin: auto;
  display: block;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #ff0000; /* Kolor strzałek */
}

.slick-prev:before {
  content: "❮";
}

.slick-next:before {
  content: "❯";
}

/* Style dla slick dots */
.slick-dots {
  position: absolute;
  bottom: 20px; /* Opuść kropki nieco w dół */
  width: 100%;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px; /* Zmniejsz szerokość kropki */
  height: 12px; /* Zmniejsz wysokość kropki */
  border: none;
  background-color: transparent; /* Usuwamy kolor tła */
  opacity: 0.75;
  cursor: pointer;
  outline: none;
}

.slick-dots li button::before {
  content: ""; /* Dodajemy puste zawartości dla pseudoelementu */
  display: block;
  width: 12px; /* Ustawiamy szerokość na taką samą jak wysokość */
  height: 12px; /* Ustawiamy wysokość */
  background-color: #ffffff; /* Kolor kwadratu */
  border-radius: 2px; /* Zaokrąglamy narożniki, jeśli chcemy */
}

.slick-dots li.slick-active button::before {
  background-color: #ff0000; /* Kolor aktywnej kropki */
}
