.contact-container {
  display: flex;
  justify-content: center; /* Wyśrodkowanie wzdłuż osi x */
  align-items: center; /* Wyśrodkowanie wzdłuż osi y */
}

.contact-content {
  flex: 1;
}

.contact-info {
  margin-right: 20px; /* Dodanie odstępu między informacjami a mapą */
}

.map-box {
  flex: 1; /* Zajęcie pozostałego miejsca */
}

.map-box iframe {
  width: 100%;
  height: 100%; /* Wypełnienie całej przestrzeni map-box */
}
