.background-map {
  background-color: rgb(255, 255, 255);
  width: 100% auto;
  box-sizing: border-box;
}

.world-map img {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  object-fit: contain;
}

.pin {
  background: #4362f8;
  position: relative;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
}
.pin::before {
  content: "";
  background: #4362f8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite;
}

.pin span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  background: #2600ff;
  border-radius: 3em;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
}

.polska {
  top: -720px;
  right: -992px;
}
