/* PagesTransport.css */

.transport-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 90px 0px;
}

.transport-section {
  width: 80%;
  margin-bottom: 20px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.section-header {
  color: #41b3e6; /* Kolor nagłówka */
  font-size: 30px;
  padding-bottom: 15px;
}
.first-word {
  color: black; /* Pierwsze słowo na czarno */
}

.second-word {
  color: #41b3e6; /* Drugie słowo w podanym kolorze */
}

.section-image {
  width: 800px;

  height: 400px;
}

.section-text {
  width: 200px; /* Stała szerokość pola tekstowego */
  height: 200px;
  padding-left: 220px; /* Odstęp od obrazka */
}

.section-description p {
  background-color: #ffffff;
  padding: 20px;
  text-align: justify;
  border-radius: 10px;
  width: 800px;
  height: 400px;
  margin-top: 10px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
