.site-about {
  color: #333;
  padding: 50px;
  background-color: #f9f9f9;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.site-first-text {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 50px;
}

.site-about h1 {
  font-size: 2.5em;
  color: #000000;
  font-family: cursive;
}
.site-about h2 {
  line-height: 1.6;
  font-size: 2.5em;
  color: #41b3e6;
  font-family: "Gill Sans", sans-serif;
}
.site-seccound,
.site-first-text,
.site-first-text p {
  font-size: 1.1em;
  line-height: 1.6;
  font-family: sans-serif;
  text-align: justify;
}

.site-image {
  text-align: center;
  margin: 20px 0;
}

.site-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.site-second {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-second {
  font-size: 1em;
  line-height: 1.8;
  color: #555;
}
