nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 10fr 10fr auto 60fr;
  height: 80px;
}

.logo {
  height: 70px;
}

nav > ul {
  font-size: 2px;
  display: flex;
  align-items: center;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}
nav > ul > li > a {
  padding: 20px 50px;
}

.nav-button::after {
  content: "";
  position: absolute;
  bottom: 10px; /* Ustawienie linii na wysokości środka navbaru */
  left: 0;
  width: 0; /* Początkowa szerokość linii */
  height: 100px;
  transition: height 0.5s ease-in-out, background-color 1s ease; /* Dodane płynne przejście */
}

.dark-nav {
  background-color: #ffffff;
  transition: 0.5s;
  box-shadow: 10px 10px 10px rgba(36, 36, 36, 0.4);
}

.nav-button {
  position: relative;
  cursor: pointer;
  width: 100% auto;
}

.nav-button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50px;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.6s, opacity 0.3s ease-in-out;
}

.nav-button:hover::after {
  width: calc(100% - 100px);
  background-color: #ff0000;
}

.nav-button:hover > .dropdown-menu {
  display: block;
}

.nav-button.custom-button::after {
  display: none;
}

/*DROPDOWN*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  display: none;
  z-index: 10;
  border: solid 1px rgb(180, 180, 180);
}
.dropdown-menu {
  border-radius: 10px;
  width: 100%;

}
.dropdown-menu > li {
  padding: 5px 7px;
  width: 100%;
}
.dropdown-menu > li > a {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 0 30px;
}

.dropdown-menu > li > a:hover {
  color: white;
  background-color: rgb(99, 99, 99);
}

.dropdown-menu > li > a::after {
  content: "→";
  position: absolute;
  right: 15px;
  font-size: 30px;
  color: #5d00ffd2;
  transition: transform 0.3s ease;
  
}

.dropdown-menu li:hover a::after {
  transform: translateY(-50%) scaleX(1);
}
.dropdown-menu li a::after {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.dropdown-menu li:hover a::after {
  opacity: 1;
} 


/* 
.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li {
  padding: 13px;
  border-bottom: none;
  margin-left: 0;
  padding-left: 0;
}

.dropdown-menu li a:hover {
  color: #ffffff;
}

.dropdown-menu li a {
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background-color: #868686;
  border-radius: 10px;
  padding-left: 2%;
  width: 100% auto;
  white-space: nowrap;
}

.dropdown-menu li:hover a {
  color: #ffffff;
  white-space: nowrap;
  max-width: 50px;
}
.dropdown-menu li a::after {
  content: "→";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) scaleX(0);
  font-size: 22px;
  color: #5d00ffd2;
  transition: transform 0.3s ease;
}

.dropdown-menu li:hover a::after {
  transform: translateY(-50%) scaleX(1);
}
.dropdown-menu li a::after {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.dropdown-menu li:hover a::after {
  opacity: 1;
} 
