nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 10fr 10fr auto 60fr;
  height: 80px;
}

.logo {
  height: 70px;
}

nav ul {
  font-size: 2px;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 50px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.nav-button::after {
  content: "";
  position: absolute;
  bottom: 10px; /* Ustawienie linii na wysokości środka navbaru */
  left: 0;
  width: 0; /* Początkowa szerokość linii */
  height: 2px;
  background-color: transparent;
  transition: width 3s ease, background-color 1s ease; /* Dodane płynne przejście */
}

&:last-child {
  border-right: none;
}

&::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #ddd;
}

.dark-nav {
  background-color: #ffffff;
  transition: 0.5s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.nav-button {
  position: relative;
  cursor: pointer;
}

.nav-button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0; /* Początkowa szerokość linii */
  height: 2px;
  background-color: transparent;
  transition: width 0.5s ease; /* Dodane płynne przejście */
}

.nav-button:hover::after {
  width: 100%; /* Szerokość linii po najechaniu */
  background-color: #ff0000;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  width: auto;
  background-color: #ffffff;
  display: none;
  z-index: 10;
  border-radius: 0px 0px 5% 5%;
}

.nav-button:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li {
  padding: 7px;
  width: 50%;
  align-items: center;
  border-bottom: 2px solid #202020d2;
}

.dropdown-menu li a:hover {
  color: #ff0000;
}

.dropdown-menu li a {
  color: #000000;
  text-decoration: none;
}

.down-arrow {
  width: 16px;
  height: 18px;
}

.nav-button:hover {
  color: #ff0000;
}

.menu-icon {
  display: none;
}

@media (max-width: 1743px) {
  .logo {
    width: 100px;
  }
  nav ul li {
    margin: 10px 15px;
  }
}

@media (max-width: 840px) {
  nav {
    padding: 15px 0;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 120px;
    background-color: #ffffffa1;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
  }
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    right: -200px;
  }
}
