/* General styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(0, 0%, 21%);
  --clr-primary-800: hsl(0, 0%, 100%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.box-scroll {
  display: grid;
  padding: 0 auto;
  place-content: center;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

/* Scroller styles */

.scroller {
  max-width: 1000px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}

.scroller__inner img {
  width: 170px; /* Set width to 130px */
  height: 150px; /* Set height to 130px */
}
