/* partners.css */
.partners-container {
  text-align: center;
  margin: 30px;
  padding: 0px 150px 0px 150px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.partner-image {
  width: 100px;
  height: 100px;
}
