.footer {
  background-color: #ffffff;
  padding: 20px 10%;
  border-top: solid 1px rgb(182, 182, 182);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  flex: 1;
  min-width: 250px;
  margin: 10px 0;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo img {
  width: 150px;
  height: auto;
}

.footer-company-info {
  margin-top: 10px;
}

.footer-company-info p {
  margin: 5px 0;
  font-size: 17px;
}

.footer-navigation {
  margin-top: 10px;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation li {
  margin-right: 30px;
  margin-bottom: 10px;
}

.footer-navigation a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  position: relative;
  padding-bottom: 2px;
}

.footer-navigation a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.5s ease;
}

.footer-navigation a:hover::after {
  width: 100%;
}

.footer-navigation a:hover {
  color: #007bff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid 1px rgb(182, 182, 182);
}

.footer-social a {
  margin-right: 20px;
}

.footer-social img {
  width: px;
  height: 30px;
}

.footer-copyright {
  font-size: 14px;
  color: #666;
  text-align: center;
  flex: 1;
  margin-top: 10px;
}
