.footer {
  background-color: #ffffff;
  padding-top: 5px;
  border-top: solid 0.5px rgb(182, 182, 182);
}

.footer-content {
  display: flex;
  padding-left: 300px;
  align-items: flex-start;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Wyśrodkuj zawartość w pionie */
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer-logo-info img {
  margin-bottom: 10px;
}

.footer-company-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-company-info p {
  padding-bottom: 5px;
  font-size: 17px;
}

.footer-navigation ul {
  list-style: none;
  padding: 50px 50px 0px 300px;
  margin: 0;
  font-size: 17px;
}

.footer-navigation li {
  display: inline-block;
  margin-right: 30px;
}

.footer-navigation a {
  text-decoration: none;
  color: #333;
}

.footer-logo img {
  width: 150px;
}

.footer-navigation a {
  text-decoration: none; /* Remove default underline */
  display: inline-block; /* Allow for positioning */
  position: relative; /* Enable positioning for the line */
  padding-bottom: 2px; /* Add space for the line */
}

.footer-navigation a::after {
  /* Pseudo-element for the line */
  content: ""; /* Empty content */
  position: absolute; /* Position the line absolutely */
  bottom: -3px; /* Place the line under the text */
  left: 0; /* Start from left */
  width: 0; /* Initially no width */
  height: 2px; /* Line height */
  background-color: #007bff; /* Blue color */
  transition: width 0.5s ease; /* Transition for width */
}

.footer-navigation a:hover::after {
  width: 100%; /* Extend the line to full width */
}

.footer-navigation a:hover {
  color: rgb(0, 4, 255);
}
