.footer-padding {
  padding: 0rem 20rem;
}

.footer-box {
  background-color: rgb(255, 255, 255);
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 2rem;
}

.footer-links-div {
  width: 150px; /* Poprawiono literówkę */
  margin: 1rem;
  color: rgb(12, 12, 12);
}

.footer-box a:hover {
  color: rgba(255, 0, 0, 0.705);
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  padding-top: 1rem; /* Dostosowano odstęp */
}

.socialmedia img {
  width: 20px; /* Dostosowano szerokość ikon */
  margin-right: 1rem; /* Dodałem odstęp między ikonami */
}

.footer-links-div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.footer-links-div,
.footer-links-div h4,
.footer-links-div p {
  font-family: "Open Sans";
}
.footer-links-div p {
  font-size: 15px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

/* Media Query */

@media screen and (max-width: 850px) {
  .footer-heding h1 {
    /* Poprawiono literówkę */
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .footer-heding h1 {
    /* Poprawiono literówkę */
    font-size: 34px;
    line-height: 42px;
  }
  .footer-links-div {
    margin: 1rem 0; /* Dostosowano margines dla mniejszych ekranów */
  }
}

@media screen and (max-width: 400px) {
  .footer-heding h1 {
    /* Poprawiono literówkę */
    font-size: 27px;
    line-height: 38px;
  }
}
